@charset "UTF-8";
/* UTF-8編碼確保文件中的中文字符或其他ASCII字符能夠被正確解析和顯示 */
/* 導入字體 */
.noto-serif-tc-extralight {
    font-family: "Noto Serif TC", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .noto-serif-tc-regular {
    font-family: "Noto Serif TC", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .noto-serif-tc-black {
    font-size: 1.75rem;
    font-family: "Noto Serif TC", serif;
    font-weight: 900;
    font-style: normal;
  }
  
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

/* Global style settings */
body {
    line-height: 1;
}

/* Remove default styles for ordered and unordered lists */
ol,
ul,
li {
    list-style: none;
}

/* Remove default quotes style for blockquote and q */
blockquote,
q {
    quotes: none;
}

/* Remove default content for blockquote and q */
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

/* Set table border and spacing to 0 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Set image styles */
img {
    display: block;
    width: 100%;
}

/* Set link styles */
a {
    display: block;
    color: #555;
    text-decoration: none;
    font-size: 1rem;
}
/* 字大小 */
h1{
    font-family: 'SimSun',"Noto Serif TC", serif;
    font-size: 3.3rem;
    font-weight: 900;
    font-style: normal;
}
h2{
    font-family: 'SimSun',"Noto Serif TC", serif;
    font-size: 2.25rem;
    font-weight: 700;
    font-style: normal;
}
h3{
    font-family: 'SimSun',"Noto Serif TC", serif;
    font-size: 1.5rem;
    font-weight: 600;
    font-style: normal;
}
p{
    font-family: 'SimSun',"Noto Serif TC", serif;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
}
small{
    font-family: 'SimSun',"Noto Serif TC", serif;
    font-size: 0.75rem;
    font-weight: 200;
    font-style: normal;
}
/* Global */
* {
    box-sizing: border-box;
}
/* Set text color and font for the whole document */
body {
    width: 100vw;
    height: auto;
    background-color: #C8DBE1;
    color: #555;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,'Noto Serif TC','SimSun','Open Sans', 'Helvetica Neue', sans-serif,
        '蘋方-繁', 'PingFang TC', '黑體-繁', 'Heiti TC', '微軟正黑體', 'Microsoft JhengHei', 'Noto Sans TC';
    display: flex;
    flex-direction: column;
    gap: 5vh;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    }

header{
    width: 100%;
    height: 15%;
    background-color: rgba(142, 142, 142, 0.07);
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: row;
    /* 左右置頂 */
    justify-content: space-between;
    /* 上下置中 */
    align-items: center;
    padding: 1.1vh 4.3vw;
}
/* 導覽列容器 */
#topBar{
    width: auto;
    height: auto;
    border-radius: 60px;
    padding: 2.2vh 2.5vw;
    background-color: rgba(244, 239, 233, 0.8);
}
/* 連結容器 */
#menu{

    display: flex;
    flex-direction: row;
    gap: 1.5vw;
}
/* 主內容(section) */
section{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* 按鈕樣式 */
.button{
    width: fit-content;
    height: fit-content;
    border-radius: 60px;
    background-color: rgba(244, 239, 233, 1);
    padding: 10px 30px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}
/* 首頁主內容 */

/* banner */
.index-banner{
    height:70vh;
    margin-bottom: 15vh;

    /* 定位裝飾 */
    position: relative;
    /* 增加裝飾 */
    background-image: url(../images/decorate-banner.png), url(../images/decorate-banner02.png);
    background-size:72px 102px, 45px 45px;
    background-repeat: no-repeat,no-repeat;
    background-position: 
    left top,
    10vw 58vh
}
/* {`Yihui’s 個人網站`}方塊*/
.index-banner img{
    width: 47vw;
}
/* 裝飾banner */
.index-banner::before{
    position: absolute;
    content:url(../images/decorate-banner03.png);
    display: block;
    width:63px;
    height: 63px;

    right: 38vw;
    bottom: 1vh;
}

.index-banner::after {
    position: absolute;
    content: url(../images/decorate-banner04.png);
    display: block;
    width:93px;
    height: 150px;

    right: 0;
    top: 15vh;
}

/* 首頁aboutMe容器 */
.index-aboutMe{
    height: auto;
    margin-bottom: 10vh;
  
    gap: 40px;
}
/* 裝打招呼+個人照片的容器 */
.index-aboutMe div{
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 20vw;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    /* 定位裝飾雲 */
    position: relative;
}
/* 打招呼 */
.index-aboutMe div p{
    width: 20vw;
    height: 20vh;
    /* display: block; */
    position: relative;
    text-align: center;
    line-height: 20vh;
}
/* 個人照片 */
.index-aboutMe div img{
    width: 30%;
    z-index: -2;
}
/* 打招呼裝飾雲 */
.index-aboutMe div p::after{
    position: absolute;
    content:url(../images/decorate-aboutMe01.png);
    display: block;
    width:auto;
    height: auto;
    left: -130px;
    bottom: -65px;
    z-index: -1;
}
/* 裝飾雲 */
.index-aboutMe div::before{
    position: absolute;
    content:url(../images/decorate-aboutMe02.png);
   
    display: block;
    width:auto;
    height: auto;
    left: 10vw;;
    bottom: -35vh;
    z-index: -1;
}
.index-aboutMe div::after{
    position: absolute;
    content:url(../images/decorate-aboutMe03.png);
    background-size: 10vw;
    display: block;
    width:300px;
    height: 80px;
    right: 0;
    bottom: 15vh;
    z-index: -3;
}

/* 首頁-portfolio容器:標題+div */
.index-portfolio{
    height: 100vh;
   
    gap: 7vh;
    
}
/* 裝介紹作品集的容器(img+div) */
.index-portfolioInfo{
    width: 100vw;
    height:50vw;
    background-image: url(../images/index-portfolio.png);
    background-size:85vw 28vw;
    background-repeat: no-repeat;
    background-position: center;

     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10vw;
}
/* 書 */
.index-portfolioInfo img{
    flex: 0 1 auto;
    width: 15%;
}
/* 作品集簡介語 */
.index-portfolioInfo-content{
    flex: 0 1 auto;
    width: 30%;
    height: auto;

    display: flex;
    flex-direction: column;
    gap: 5vh;
    align-items: flex-end;

}
/* (你能看到...)容器 */
.index-portfolioInfo-content-infoTitle{
    width: auto;
    height: auto;
    align-self: flex-start;
   

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
}
/* 加粗 */
.index-portfolioInfo-content-infoTitle p{
    font-weight: 600;
}

/* 首頁-learningNote容器:標題+div+a */
.index-note{
    height: auto;
    gap: 10vh;
}
/*  */
.index-noteContainer{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
/*  */
.simple-learnNoteComponent{
    background-image: url();
}

/*  */
.index-contact{
    
}