@charset "UTF-8";
/* UTF-8編碼確保文件中的中文字符或其他ASCII字符能夠被正確解析和顯示 */
/* 導入字體 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Global style settings */
body {
  line-height: 1;
}

/* Remove default styles for ordered and unordered lists */
ol,
ul,
li {
  list-style: none;
}

/* Remove default quotes style for blockquote and q */
blockquote,
q {
  quotes: none;
}

/* Remove default content for blockquote and q */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Set table border and spacing to 0 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set image styles */
img {
  display: block;
  width: 100%;
}

/* Set link styles */
a {
  display: block;
  color: #555;
  text-decoration: none;
  font-size: 1rem;
}

/* 字大小 */
h1 {
  font-family: "Noto Serif TC", serif;
  font-size: 3.3rem;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 0.1rem;
}

h2 {
  font-family: "Noto Serif TC", serif;
  font-size: 2.25rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.1rem;
}

h3 {
  font-family: "Noto Serif TC", serif;
  font-size: 1.5rem;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.1rem;
}

p {
  font-family: "Noto Serif TC", serif;
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.1rem;
}

small {
  font-family: "Noto Serif TC", serif;
  font-size: 0.75rem;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 0.1rem;
}

/* Global */
* {
  box-sizing: border-box;
}

a {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  color: rgb(12, 90, 103);
}
a:hover {
  color: rgb(189, 170, 156);
}

/* Set text color and font for the whole document */
body {
  max-width: 1920px;
  width: 100vw;
  min-height: 1080px;
  height: auto;
  background-image: linear-gradient(rgba(172, 211, 222, 0.25) 15%, rgba(152, 198, 205, 0.3) 35%, rgba(186, 211, 213, 0.53) 60%, rgba(144, 192, 198, 0.45) 80%, rgba(242, 237, 232, 0.65) 100%);
  color: #555;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Noto Serif TC", "Open Sans", "Helvetica Neue", sans-serif, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 15%;
  background-color: rgba(142, 142, 142, 0.07);
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  /* 左右置頂 */
  justify-content: space-between;
  /* 上下置中 */
  align-items: center;
  padding: 1.1vh 4.3vw;
}

.logo {
  background: transparent;
}

/* 導覽列容器 */
#topBar {
  width: auto;
  height: 50px;
  border-radius: 60px;
  padding: 10px;
  background-color: rgba(244, 239, 233, 0.8);
}

/* 連結容器 */
#menu {
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 1.5vw;
  align-items: center;
  margin: 0 10px;
}
#menu a {
  padding-bottom: 5px;
}
#menu a:hover {
  border-bottom: rgb(189, 170, 156) solid 2px;
}

main {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

footer {
  width: 100%;
  background-color: rgba(244, 239, 233, 0.8);
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 800px));
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  padding: 30px;
  padding-bottom: 20px;
}
footer img {
  width: 50%;
  grid-row: 1/3;
  grid-column: 1;
}
footer div {
  grid-row: 1/3;
  grid-column: 3;
  width: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}
footer .copyright {
  grid-row: 3;
  grid-column: 2;
}

/* 主內容(section) */
section {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 按鈕樣式 */
.button {
  width: fit-content;
  height: fit-content;
  border-radius: 60px;
  background-color: rgb(244, 239, 233);
  padding: 10px 30px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}
.button:hover {
  opacity: 1;
}
.button:active {
  background-color: rgb(79, 79, 79);
  color: rgb(244, 239, 233);
  box-shadow: inset 3px 3px 0px rgba(0, 0, 0, 0.8);
}

/* tag容器 */
.tags-Container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  /* tag樣式 */
}
.tags-Container .tag {
  border-radius: 30px;
  background-color: rgb(251, 234, 218);
  border: 1px solid rgba(0, 0, 0, 0.2);
  line-height: 26px;
  text-align: center;
  padding: 5px 15px;
}

/* 首頁主內容 */
@keyframes scaleFloat {
  0% {
    scale: inherit;
  }
  50% {
    scale: 120%;
    transform: translate(2vw, 2vw);
  }
  100% {
    scale: inherit;
  }
}
@keyframes scaleFloatLeft {
  0% {
    scale: inherit;
  }
  50% {
    scale: 180%;
    transform: translate(-2vw, 3vh);
  }
  100% {
    scale: inherit;
  }
}
@keyframes scaleChange {
  0% {
    scale: inherit;
  }
  50% {
    scale: 110%;
  }
  100% {
    scale: inherit;
  }
}
@keyframes scaleRotate {
  0% {
    scale: inherit;
  }
  50% {
    transform: rotate3d(0, -10, 10, -1deg);
  }
  100% {
    scale: inherit;
  }
}
@keyframes runCircle {
  0% {
    scale: inherit;
  }
  50% {
    transform: translate(12vw, 12vw);
  }
  51% {
    z-index: 0;
  }
  60% {
    z-index: -1;
  }
  90% {
    z-index: -1;
  }
  100% {
    scale: inherit;
  }
}
@keyframes runCircle1 {
  0% {
    scale: inherit;
  }
  50% {
    transform: translate(15vw, 11vw);
    z-index: 1;
  }
  70% {
    z-index: 0;
  }
  90% {
    z-index: -1;
  }
  100% {
    scale: inherit;
  }
}
/* banner */
.index-banner {
  height: 447px;
  margin-bottom: 5vw;
  margin-top: 50px;
  /* 定位裝飾 */
  position: relative;
  /* 增加裝飾 */
}
.index-banner .decorate-banner {
  position: absolute;
  left: 0;
  top: 0;
  width: fit-content;
  animation: scaleChange 5s 0s infinite;
}
.index-banner .decorate-banner2 {
  position: absolute;
  left: 10%;
  bottom: -5%;
  width: fit-content;
  animation: scaleFloatLeft 15s 0s infinite;
}
.index-banner .decorate-banner3 {
  position: absolute;
  right: 0;
  top: 50%;
  width: fit-content;
  animation: scaleChange 5s 0s infinite;
}
.index-banner .banner {
  /* {`Yihui’s 個人網站`}方塊*/
  width: 45%;
  margin-top: 100px;
  animation: scaleRotate 5s 0s infinite;
}
.index-banner::before {
  /* 裝飾banner */
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  background-color: rgba(244, 239, 233, 0.8);
  border-radius: 10px;
  box-shadow: inset -5px -5px 4px 0px rgba(8, 63, 72, 0.3);
  right: 35%;
  top: 0;
  z-index: 1;
  animation: runCircle1 10s 0s infinite;
}
.index-banner::after {
  /* 裝飾banner */
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  background-color: rgba(244, 239, 233, 0.8);
  border-radius: 10px;
  box-shadow: inset -5px -5px 4px 0px rgba(8, 63, 72, 0.3);
  left: 20%;
  top: 55%;
  animation: runCircle 10s 5s infinite;
}

/* 首頁aboutMe容器 */
@keyframes CloudFloat {
  0% {
    transform: translate(0vw);
  }
  100% {
    transform: translate(11vw);
  }
}
.index-aboutMe {
  height: auto;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.index-aboutMe .aboutMe-content {
  /* 裝打招呼+個人照片的容器 */
  width: 90vw;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 20vw;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  /* 定位裝飾雲 */
  position: relative;
}
.index-aboutMe .aboutMe-content::after {
  position: absolute;
  content: url("../../images/decorate-aboutMe03.png");
  background-size: 10vw;
  display: block;
  width: 300px;
  height: 80px;
  right: 0;
  bottom: 15vh;
  z-index: -3;
}
.index-aboutMe .aboutMe-content .content-intro {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 350px));
  row-gap: 20px;
  justify-items: center;
  align-items: stretch;
  animation: CloudFloat 150s 0s 1;
}
.index-aboutMe .aboutMe-content .content-intro::after {
  /* 打招呼裝飾雲 */
  position: absolute;
  content: url(../../images/decorate-aboutMe02.png);
  display: block;
  scale: 100%;
  width: auto;
  height: auto;
  top: -110px;
  z-index: -1;
}
@media (max-width: 1440px) {
  .index-aboutMe .aboutMe-content .content-intro::after {
    left: -30%;
  }
}
.index-aboutMe .aboutMe-content .content-intro h3 {
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
}
.index-aboutMe .aboutMe-content .content-intro p {
  /* 打招呼 */
  width: 72%;
  height: 20%;
  /* display: block; */
  position: relative;
  text-align: center;
  line-height: 50px;
  grid-column: 1/3;
  grid-row: 2;
}
.index-aboutMe .aboutMe-content .content-intro a {
  grid-column: 2;
  grid-row: 3;
}
.index-aboutMe .aboutMe-content img {
  /* 個人照片 */
  width: 30%;
  z-index: -2;
}

/* 首頁-portfolio容器:標題+div */
.index-portfolio {
  height: auto;
  gap: 50px;
  margin-bottom: 10vh;
}

/* 裝介紹作品集的容器(img+div) */
.index-portfolioInfo {
  width: 100%;
  height: auto;
  background-image: url(../../images/index-portfolio.png);
  background-size: 70% 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  padding: 15px 0px;
  /* 書 */
}
.index-portfolioInfo img {
  flex: 0 1 auto;
  width: 15%;
}

/* 作品集簡介語 */
.index-portfolioInfo-content {
  flex: 0 1 auto;
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: flex-end;
  color: rgb(244, 239, 233);
  margin: 10px 0px;
}

/* (你能看到...)容器 */
.index-portfolioInfo-content-infoTitle {
  width: auto;
  height: auto;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.index-portfolioInfo-content-infoTitle p {
  /* 加粗 */
  font-weight: 600;
}

/* 首頁-learningNote容器:標題+div+a */
.index-note {
  height: auto;
  gap: 50px;
  margin-bottom: 10px;
  margin-top: 5vh;
}

/*  */
.index-noteContainer {
  width: 75%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  overflow: hidden;
}

/* 簡略文章元件 */
.simple-learnNoteComponent {
  width: 300px;
  min-height: 185px;
  height: fit-content;
  color: rgb(12, 90, 103);
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 19px;
  background-image: url(../../images/simple_learnNote.png);
  background-repeat: no-repeat;
  background-position: center;
}
.simple-learnNoteComponent h3 {
  max-width: 80%;
  height: 60px;
  line-height: 60px;
  overflow: hidden;
  text-emphasis: text;
}
.simple-learnNoteComponent .hugTag {
  width: 300px;
  height: 30px;
  position: relative;
}
.simple-learnNoteComponent .tag-card {
  /* 相對位置 */
  position: absolute;
  right: 38%;
  bottom: 0;
  color: rgb(11, 34, 40);
}

/* 首頁-聯繫我 */
.index-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.index-contact::before {
  content: url(../../images/1920wave.png);
  position: absolute;
  width: 100%;
  height: auto;
  top: -100px;
  left: 0;
  z-index: -1;
}
.index-contact .contact-top {
  width: 30%;
  height: 250px;
  line-height: 290px;
}
.index-contact .contact-top h2 {
  width: fit-content;
  margin: 0 auto;
}
.index-contact .contact-bottom {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
}
.index-contact .contact-bottom::before {
  content: url(../../images/beach.png);
  position: absolute;
  width: auto;
  height: 200px;
  top: -30px;
  z-index: -2;
}
.index-contact .contact-bottom img {
  width: 50px;
  height: 50px;
}

/* 通用在作品集和學習紀錄 */
.blogArea {
  display: flex;
  flex-direction: row;
}

.section-intro { /*  */
  max-width: 285px;
  width: 35%;
  min-height: 77vh;
  background: linear-gradient(-45deg, rgba(178, 206, 210, 0.5) 15%, rgba(126, 176, 183, 0.5) 35%, rgba(125, 173, 181, 0.5) 60%, rgba(128, 183, 190, 0.5) 80%, rgba(12, 90, 103, 0.5) 100%);
  box-shadow: inset 1px 0 3px 0px rgba(0, 0, 0, 0.2);
  position: sticky;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 40px;
  padding-top: 10vh;
}
.section-intro img {
  width: 118px;
  border-radius: 90px;
  border: 3px solid rgb(244, 239, 233);
}
.section-intro p {
  line-height: 45px;
}

.section-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.section-content .btnContainer {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
}
.section-content .btnContainer button {
  width: 180px;
  height: 60px;
  background-color: rgb(233, 217, 204);
  opacity: 0.8;
  border-color: rgba(244, 239, 233, 0.8);
  border-radius: 10px;
}
.section-content .btnContainer button:hover {
  opacity: 1;
}
.section-content .btnContainer button:active {
  background-color: rgb(189, 170, 156);
}
.section-content .contentContainer {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgb(233, 217, 204) 0%, rgba(244, 239, 233, 0.8) 100%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10%;
  padding: 5vw 10vw;
}
.section-content .contentContainer .portfolio-file {
  width: 45%;
}

.portfolio-file {
  flex: 0 1 auto;
  min-height: 165px;
  height: 25vw;
  background: url(../../images/portfolio-file.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2vw;
  justify-content: center;
  align-items: center;
}
.portfolio-file h3 {
  line-height: 3rem;
}
.portfolio-file img {
  width: 75%;
}

.aboutMe-Banner {
  width: 100%;
  height: fit-content;
  background: url(../../images/aboutMe_bannerBg.png);
  background-repeat: no-repeat;
  background-position: center 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 50px;
  padding-top: 75px;
}
.aboutMe-Banner .aboutMe-info {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  column-gap: 60px;
  justify-content: center;
  align-items: center;
}
.aboutMe-Banner .aboutMe-info .aboutMe-img {
  width: 20%;
  position: relative;
}
.aboutMe-Banner .aboutMe-info .aboutMe-img::before {
  content: "衣櫃";
  width: 65px;
  height: 65px;
  text-align: center;
  color: #ffffff;
  line-height: 65px;
  font-weight: 600;
  border-radius: 90px;
  background-color: rgb(12, 90, 103);
  position: absolute;
  right: -30px;
  bottom: 0;
}
.aboutMe-Banner .aboutMe-info .aboutMe-keyword {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
.aboutMe-Banner .aboutMe-info .aboutMe-keyword h1 {
  font-size: 2rem;
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 10px;
}
.aboutMe-Banner .aboutMe-intro {
  width: 600px;
  padding: 50px;
  background-color: rgb(244, 239, 233);
  border-radius: 30px;
  box-shadow: -2px -4px 5px 0px rgba(0, 0, 0, 0.2);
  color: rgb(11, 34, 40);
  line-height: 30px;
}

.aboutMe-content {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.aboutMe-experience img {
  width: 99%;
}

.aboutMe-skills {
  width: 100%;
  height: auto;
  padding-left: 20px;
}
.aboutMe-skills .aboutMe-title {
  width: 130px;
  padding-bottom: 20px;
}
.aboutMe-skills .aboutMe-title img {
  width: 60%;
}
.aboutMe-skills .skills-container {
  width: 80%;
  display: flex;
  flex-direction: row;
}
.aboutMe-skills .skills-container a:hover {
  scale: 110%;
}
.aboutMe-skills .skills-container img {
  width: 80%;
}/*# sourceMappingURL=style_scss.css.map */